### If elif and else Statements in python

In [53]:
if True:
    print('Its True')

Its True

In [54]:
if 3 > 2:
    print('Yes')

Yes

In [55]:
hungry = True
if hungry:
    print('Feed Me')

Feed Me

In [56]:
hungry = True
if hungry:
    print('Feed Me')
else:
    print('Thanks, not hungry')

Feed Me

In [57]:
hungry = False
if hungry:
    print('Feed Me')
else:
    print('Thanks, not hungry')

Thanks, not hungry

In [58]:
loc = 'Bank'
if loc == 'Bus Stop':
    print('Take the Bus')
else: 
    print('Take Taxi')

Take Taxi

In [59]:
loc = 'Bank'
if loc == 'Bus Stop':
    print('Take the Bus')
elif loc == 'Bank':
    print('Deposit your money')
else: 
    print('Take Taxi')

Deposit your money

In [60]:
loc = 'Walmart'


if loc == 'Bus Stop':
    print('Take the Bus')
elif loc == 'Bank':
    print('Deposit your money')
elif loc == 'Walmart':
    print('Buy some grocery')
else: 
    print('Take Taxi')

Buy some grocery

### For Loop

In [61]:
my_iterable = [1, 2, 3]
for item_name in my_iterable:
    print(item_name)

1
2
3

In [62]:
ml1 = [1,2,3,4,5,6,7,8]
for item in ml1:
    print(item)

1
2
3
4
5
6
7
8

In [63]:
ml1 = [1,2,3,4,5,6,7,8]
for item in ml1:
    print('Gurkirpal')

Gurkirpal
Gurkirpal
Gurkirpal
Gurkirpal
Gurkirpal
Gurkirpal
Gurkirpal
Gurkirpal

In [64]:
### Check for Even numbers
for num in ml1:
    if num % 2 == 0:
        print(f'{num}--- even number')
    else:
        print(f'{num}--- odd number')

1--- odd number
2--- even number
3--- odd number
4--- even number
5--- odd number
6--- even number
7--- odd number
8--- even number

In [65]:
sum = 0
for num in ml1:
    sum = sum + num
print(sum)

36

In [66]:
sum = 0
for num in ml1:
    sum = sum + num
    print(sum)

1
3
6
10
15
21
28
36

In [67]:
for letter in 'Gurkirpal':
    print(letter)

G
u
r
k
i
r
p
a
l

In [68]:
for letter in 'Gurkirpal':
    print(f'{letter}:Gurkirpal')

G:Gurkirpal
u:Gurkirpal
r:Gurkirpal
k:Gurkirpal
i:Gurkirpal
r:Gurkirpal
p:Gurkirpal
a:Gurkirpal
l:Gurkirpal

In [69]:
tup = (1,2,3,4)
for num in tup:
    print(num)

1
2
3
4

In [70]:
ml1 = [(1,2),(2,3),(4,6)]
for item in ml1:
    print(item)

(1, 2)
(2, 3)
(4, 6)

In [71]:
for (x,y) in ml1:
    print(x)
    print(y)

1
2
2
3
4
6

In [72]:
d = {'k1' : 12, 'k2' : 45, 'k3': 47}

for item in d:
    print(item)

k1
k2
k3

In [73]:
for item in d.items():
    print(item)

('k1', 12)
('k2', 45)
('k3', 47)

In [74]:
d = {'k1' : 12, 'k2' : 45, 'k3': 47}

for key, value in d.items():
    print(value)

12
45
47

In [75]:
d = {'k1' : 12, 'k2' : 45, 'k3': 47}

for key, value in d.items():
    print(key)

k1
k2
k3

In [76]:
d = {'k1' : 12, 'k2' : 45, 'k3': 47}

for key, value in d.items():
    print(key)
    print(value)

k1
12
k2
45
k3
47

### ****while loop****

In [78]:
x = 0

while x < 5:
    print(f'The current value of x is{x}')
    x = x + 1
else:
    print('x is not less than 5')

The current value of x is0
The current value of x is1
The current value of x is2
The current value of x is3
The current value of x is4
x is not less than 5

### break, continue, pass

In [82]:
x = [1, 2, 3]
for item in x:
    pass
print('The End ')

The End

In [83]:
m1 = 'Parvaan'

for letter in m1:
    print(letter)

P
a
r
v
a
a
n

In [84]:
m1 = 'Parvaan'

for letter in m1:
    if letter == 'r':
        continue
    print(letter)

P
a
v
a
a
n

In [86]:
m1 = 'Parvaan'

for letter in m1:
    if letter == 'r':
        break
    print(letter)

P
a

In [87]:
x = 0

while x < 5:
    if x == 3:
        break
    print(x)
    x = x +1

0
1
2

#### Useful Operators in Python

In [89]:
ml1 = [1,2,3]

In [91]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [92]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [93]:
list(range(0,25,5))

[0, 5, 10, 15, 20]

In [96]:
ind1 = 0
for letter in 'Parvaan':
    print(f'At index {ind1}, letter is {letter}')
    ind1 = ind1 + 1

At index 0, letter is P
At index 1, letter is a
At index 2, letter is r
At index 3, letter is v
At index 4, letter is a
At index 5, letter is a
At index 6, letter is n

In [99]:
word = 'Parvaan'

for item in enumerate(word):
    print(item)

(0, 'P')
(1, 'a')
(2, 'r')
(3, 'v')
(4, 'a')
(5, 'a')
(6, 'n')

In [102]:
word = 'Parvaan'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
P


1
a


2
r


3
v


4
a


5
a


6
n

In [103]:
ml1 = [1,2,3]
ml2 = ['a', 'b', 'c']

for item in zip(ml1,ml2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [104]:
list(zip(ml1,ml2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [105]:
'y' in ['a', 'b', 'c']

False

In [106]:
'k1' in {'k1' : 10}

True

In [112]:
a =  {'k1' : 10}
10 in a.values()

True

In [113]:
a =  {'k1' : 10}
10 in a.keys()

False

In [114]:
ml1  = [1.2, 44, 3, 38, 98]
max(ml1)

98

In [115]:
min(ml1)

1.2

In [116]:
from random import shuffle

In [117]:
ml2 = [3,4,5,6,9,12]

In [119]:
shuffle(ml2)
print(ml2)

[6, 5, 12, 4, 9, 3]

In [120]:
from random import randint

In [121]:
randint(0,120)

16

In [122]:
randint(0,120)

89

In [124]:
my1 = randint(0,120)
print(my1)

58

In [125]:
input('Enter a number here')

Enter a number here50

'50'

In [129]:
result = input('Enter your number here')

Enter your number here78

In [130]:
type(result)

str

In [131]:
float(result)

78.0

In [132]:
result = int(input('Enter your number here'))

Enter your number here14

### List Comprehensions in Python

In [134]:
ms1 = 'Parvaan'

In [139]:
ml1 = []

for letter in ms1:
    ml1.append(letter)
    print(ml1)

['P']
['P', 'a']
['P', 'a', 'r']
['P', 'a', 'r', 'v']
['P', 'a', 'r', 'v', 'a']
['P', 'a', 'r', 'v', 'a', 'a']
['P', 'a', 'r', 'v', 'a', 'a', 'n']

In [137]:
ml1

['P', 'a', 'r', 'v', 'a', 'a', 'n']

In [140]:
ml1= [letter for letter in ml1]

In [141]:
ml1

['P', 'a', 'r', 'v', 'a', 'a', 'n']

In [143]:
ml2 = [a for a in 'Gurkirpal']
print(ml2)

['G', 'u', 'r', 'k', 'i', 'r', 'p', 'a', 'l']

In [145]:
ml3 = [num for num in range(0, 14)]
print(ml3)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [147]:
ml4 = [num*num for num in range(0, 14)]
print(ml4)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169]

In [150]:
ml5 =[num for num in range(0,15) if num % 2 ==0]
print(ml5)

[0, 2, 4, 6, 8, 10, 12, 14]

In [151]:
celcius = [12, 45, 78, 100, 27]

fahrenheit = [(9/5)*temp + 32 for temp in celcius]

In [152]:
fahrenheit

[53.6, 113.0, 172.4, 212.0, 80.6]

In [153]:
celcius = [12, 45, 78, 100, 27]

fahrenheit = []

for temp in celcius:
    fahrenheit =(9/5)*temp + 32
    print(fahrenheit)

53.6
113.0
172.4
212.0
80.6